/**
 * ~/.mozilla/firefox/{account}/chrome/userContent.css
 *
 * Fix the colors of firefox when using dark GTK theme
 */

input {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

textarea {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}

select {
    -moz-appearance: none !important;
    background-color: white;
    color: black;
}
