[color]
	ui = auto
[alias]
	co = checkout
	br = branch
	st = status
	ff = diff --ignore-all-space
	log1 = log --oneline
	hardreset = reset HEAD --hard
	uncommit = reset HEAD~1 --soft
[push]
	followTags = true
